@font-face {
  font-family: Poppins-Bold-49px;
  src: url('../fonts/Poppins-Bold.ttf');
  font-size: 49px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Bold-36px;
  src: url('../fonts/Poppins-Bold.ttf');
  font-size: 36px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Regular-19px;
  src: url('../fonts/Poppins-Regular.ttf');
  font-size: 19px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Regular-18px;
  src: url('../fonts/Poppins-Regular.ttf');
  font-size: 18px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Regular-13px;
  src: url('../fonts/Poppins-Regular.ttf');
  font-size: 13px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Medium-17px;
  src: url('../fonts/Poppins-Medium.ttf');
  font-size: 17px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Medium-18px;
  src: url('../fonts/Poppins-Medium.ttf');
  font-size: 18px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Medium-13px;
  src: url('../fonts/Poppins-Medium.ttf');
  font-size: 13px;
  color: #fff;
}

@font-face {
  font-family: Poppins-Medium-30px;
  src: url('../fonts/Poppins-Medium.ttf');
  font-size: 30px;
  color: #fff;
}

@font-face {
  font-family: Nasalization-Regular-20px;
  src: url('../fonts/nasalization-rg.otf');
  font-size: 20px;
  color: #fff;
}

@font-face {
  font-family: Poppins-SemiBold-30px;
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-size: 30px;
  color: #fff;
}

@font-face {
  font-family: Poppins-SemiBold-21px;
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-size: 21px;
  color: #fff;
}

@font-face {
  font-family: Poppins-SemiBold-40px;
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-size: 40px;
  color: #fff;
}

@font-face {
  font-family: Poppins-SemiBold-66px;
  src: url('../fonts/Poppins-SemiBold.ttf');
  font-size: 66px;
  color: #fff;
}

@font-face {
  font-family: Gilroy-SemiBold-25px;
  src: url('../fonts/Gilroy-SemiBold.ttf');
  font-size: 25px;
  color: #fff;
}

@font-face {
  font-family: Gilroy-SemiBold-24px;
  src: url('../fonts/Gilroy-SemiBold.ttf');
  font-size: 24px;
  color: #fff;
}

@font-face {
  font-family: Gilroy-SemiBold-21px;
  src: url('../fonts/Gilroy-SemiBold.ttf');
  font-size: 21px;
  color: #fff;
}
